@page "/Cars/{ownerId:int}/{Id:int}"
@inherits Base.SpesificCarBase
@inject State.AppState appState
@using Blazorise



@if (car == null)
{
    <h1>Loading car...</h1>
}
else
{
    <PageTitle>@car.CarName @car.CarModel</PageTitle>
    <center>
        <Alert Color="Color.Success" Visible>
            <AlertMessage>You're visiting the @car.CarName @car.CarModel listing</AlertMessage> 
            <AlertDescription> | UserId: @appState.UserId</AlertDescription>
        </Alert>

        <div>
            <h1>@car.CarName @car.CarModel | Owner: @user.Name</h1>
            <img class="car-img mb-10" src=@car.ImageUrl />
            <div class="mb-10">
                <h4>Production Year: @car.ProductionYear</h4>
                <h4>Seats: @car.Seats</h4>
                <h5>Price per day: kr @car.Price,-</h5>
            </div>
            @if (car.UserId == appState.UserId) {
                <h3 style="color: red;">You can not rent your own car</h3>
            }
            else {
                <Field>
                    <FieldLabel Style="float: left;">Start Date</FieldLabel>
                    <FieldBody>
                        <DatePicker TValue="DateTime?" @bind-Date="startDate" />
                    </FieldBody>
                </Field>
                <Field>
                    <FieldLabel Style="float: left;">End Date</FieldLabel>
                    <FieldBody>
                        <DatePicker TValue="DateTime?" @bind-Date="endDate" />
                    </FieldBody>
                </Field>
                <Button Class="mb-10 block" Color="Color.Primary">Rent Car</Button>
                <Button Class="mb-10 block" Color="Color.Primary" @onclick="clickEvent" >test</Button>

                
            }
        </div>
    </center>
}

@code {
    DateTime? startDate;
    DateTime? endDate;

    private void clickEvent() {
        Console.WriteLine("Start date: " + startDate);
        Console.WriteLine("End date: " + endDate);
    }
}