@page "/Cars/{ownerId:int}/{Id:int}"
@inherits Base.SpesificCarBase
<!-- State.appstate appState -->
@using Blazorise



@if (car == null)
{
    <h1>Loading car...</h1>
}
else
{
    <PageTitle>@car.CarName @car.CarModel</PageTitle>
    <center>
        <div>
            <h1>@car.CarName @car.CarModel | Owner: @user.Name</h1>
            <img class="car-img mb-10" src=@car.ImageUrl />
            <div class="mb-10">
                <h4>Production Year: @car.ProductionYear</h4>
                <h4>Seats: @car.Seats</h4>
                <h5>Price per day: kr @car.Price,-</h5>
            </div>
            @if (car.UserId == appState.UserId)
            {
                <h3 style="color: red;">You can not rent your own car</h3>
                <Button Class="mb-10 block" Color="Color.Danger" onclick="@DeleteCar">Delete Listing</Button>
            }
            else
            {
                <Field>
                    <FieldLabel Style="float: left;">Start Date</FieldLabel>
                    <FieldBody>
                        <DatePicker TValue="DateTime?" @bind-Date="@startDate" Min="DateTime.Now" />
                    </FieldBody>
                </Field>
                <Field>
                    <FieldLabel Style="float: left;">End Date</FieldLabel>
                    <FieldBody>
                        <DatePicker TValue="DateTime?" @bind-Date="@endDate" Min="@startDate" />
                    </FieldBody>
                </Field>



                @if (clickEvent() < 1)
                {
                    <h3>You have to rent a car for more than 1 day</h3>
                }
                else
                {
                    <h5>Total price: @clickEvent() kr </h5>
                    <Button Class="mb-10 block"  Color="Color.Primary" onclick="@AddRental">Rent Car</Button>
                }
            }
        </div>
    </center>
}
